body {
  padding-top: 10px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

h1 {
    color: #2c3e50;
}

/* Ajout automatique d'un asterisque sur les champs requis */
.required:after {
    content: " *";
    color: #000000;
}

.btn-custom {
    border-radius: 0px;
    background-color: #34495e;
    color: #ffffff;
    transition: all 0.25s;
}
.btn-custom:hover {
    color: #ffffff;
    background-color : #2c3e50;
}

.btn-default{
    border-radius: 0px;
    transition: all 0.25s;
    background-color: #95a5a6;
    color: #ffffff;
}
.btn-default:hover{
    color: #ffffff;
    background-color: #7f8c8d;
}

.nav-buttons {
  margin-top: 50px;
  list-decoration: none;
}

.nav-button {
  display: inline-block;
}

.books {
}

.books-list {
}

.book-item {
}

